.option_container
  .option
    .count #{Job.complete.count}
    %a{ :href => '#' } To Complete
  .option
    .count #{Job.payment_pending.count}
    %a{ :href => '#' } Payment Pending
  .option
    .count #{Job.done.count}
    %a{ :href => '#' } Done
.option_container_reflection