.option_container
  .option
    .count 123
    %a{ :href => '#' } To Complete
  .option
    .count 123
    %a{ :href => '#' } Payment Pending
  .option
    .count 123
    %a{ :href => '#' } Done
.option_container_reflection